<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace绑定一个对应的Dao/Mapper接口-->
<mapper namespace="com.julin.dao.UserMapper">
    <!--select查询语句-->
    <select id="getUserList" resultType="com.julin.pojo.User">
        select * from mybatis.user
    </select>

    <!--select查询语句-->
    <select id="getUserById" resultType="com.julin.pojo.User" parameterType="int">
        select * from mybatis.user where id = #{id}
    </select>
</mapper>