<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace绑定一个对应的Dao/Mapper接口-->
<mapper namespace="com.julin.dao.UserMapper">
    <!--select查询语句-->
    <select id="getUserList" resultType="user">
        select * from mybatis.user
    </select>

    <!--分页查询-->
    <select id="getUserByLimit" resultType="user" parameterType="map">
        select * from mybatis.user limit #{startIndex},#{pageSize}
    </select>

    <!--分页查询-->
    <select id="getUserByRowBounds" resultType="user" >
        select * from mybatis.user
    </select>
</mapper>